.energy {
  width: 300px;
  background-color: white;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.3);
  padding-top: 10px;
  padding-bottom: 10px;
}

.energy > div > img {
  width: 30px;
  height: 30px;
}

.energy > .water-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.energy > .inner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
